<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Dayfold 需要访问您的位置来记录日记的地点信息</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Dayfold 需要访问您的相册来添加照片到日记</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Dayfold 使用 Face ID 保护您的日记隐私</string>
</dict>
</plist>
